//- Assets
script(type="text/javascript", src="app/lib/jquery/dist/jquery.min.js")
script(type="text/javascript", src="app/lib/bootstrap/dist/js/bootstrap.min.js")

//- App
script(type="text/javascript", src="app/app.js")

//- Services/Injectables
script(type="text/javascript", src="app/services/posts.service.js")
script(type="text/javascript", src="app/services/user.service.js")

//- Models
script(type="text/javascript", src="app/models/post.model.js")
script(type="text/javascript", src="app/models/user.model.js")

//- Repositories
script(type="text/javascript", src="app/repositories/posts.repository.js")
script(type="text/javascript", src="app/repositories/users.repository.js")

//- View-Controls
script(type="text/javascript", src="app/viewcontrols/home/home.viewcontrol.js")
script(type="text/javascript", src="app/viewcontrols/blog/create/create.viewcontrol.js")
script(type="text/javascript", src="app/viewcontrols/blog/list/list.viewcontrol.js")
script(type="text/javascript", src="app/viewcontrols/blog/single/single.viewcontrol.js")
script(type="text/javascript", src="app/viewcontrols/blog/edit/edit.viewcontrol.js")

//- Rather than attach the user to the window (like MEAN does), we overwrite the userService injectable below
script.
    plat.register.injectable('user', function() { return !{user}; });