header
    nav.navbar.navbar-default(role="navigation")
        div.container
            div.navbar-header
                a.navbar-brand PlatyNEM
            div.collapse.navbar-collapse#platynem-navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li.dropdown
                        a(href="#", data-toggle="dropdown", class="dropdown-toggle") First Last&nbsp;
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href="#") Profile
                            li
                                a(href="/logout") Log Out