head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title PlatyNEM
    //- Platypus
    script(type="text/javascript", src="app/lib/platypus/platypus.js")
    link(rel="stylesheet", type="style/css", href="app/lib/platypus/platypus.css")
    //- Other Assets
    link(rel="stylesheet", type="style/css", href="app/lib/bootstrap/dist/css/bootstrap.min.css")
    //- CSS
    link(rel="stylesheet", type="style/css", href="css/app.css")
    link(rel="stylesheet", type="style/css", href="app/viewcontrols/blog/create/create.viewcontrol.css")
    link(rel="stylesheet", type="style/css", href="app/viewcontrols/blog/edit/edit.viewcontrol.css")
    link(rel="stylesheet", type="style/css", href="app/viewcontrols/blog/list/list.viewcontrol.css")
    link(rel="stylesheet", type="style/css", href="app/viewcontrols/blog/single/single.viewcontrol.css")