.DS_Store
.nodemonignore
.sass-cache
node_modules/
typings/
.idea/
*.sublime-project
*.sublime-workspace
*.js
*.js.map
!public/app/lib/**/*.js
!Gruntfile.js
/tests/coverage/IE 11.0.0 (Windows)
/bin
/obj/Debug
/.gitattributes
/PlatyNEM.csproj
/PlatyNEM.csproj.user
/PlatyNEM.sln
/PlatyNEM.v12.suo
/web.config
/web.Debug.config
/web.Release.config
tests/coverage
.tscache
*.tmp.*