.auth-container {
    padding: 0 30%;
}

.auth {
    max-width: 500px;
    margin: 5em auto;
    padding: 3em 5em;
    text-align: center;
    background-color: #ffffff;
    border-bottom: 3px solid #dddddd;
    color: #888888;
}

    .auth .auth-local .alert {
      padding: 0.5em;
    }

    .auth .auth-local ul > li {
        text-align: left;
        list-style-type: square;
    }

    .auth .auth-actions a {
        margin: 0.5em 0;
        font-size: 14px;
        font-weight: normal;
    }

.auth-separator {
    margin: 1.5em 0;
    font-size: 1.3em;
}
