body {
    background-color: #f6f6f6;
}

img {
    max-width: 100%;
}

.page-header {
    margin: 40px 0 20px;
    border-bottom: 1px solid #eeeeee;
}

.auth-container {
    padding: 0 30%;
}

.auth {
    margin: 10vh 0;
    padding: 3em 5em;
    text-align: center;
    background-color: #ffffff;
    border-bottom: 3px solid #dddddd;
    color: #888888;
}

.auth-social {
    margin: 2em auto;
    text-align: center;
}

.auth-social li {
    width: 25%;
    float: left;
    text-align: left;
    list-style-type: none;
}

.auth-social img {
    width: 80%;
}

.auth-separator {
    margin: 1.5em 0;
    font-size: 1.3em;
}






