extends ../layouts/default

block content
    .row.auth-container
        if (typeof errors !== "undefined")
            div.error
                ul
                    each error in errors
                        li= error.type
        block auth
        