extends auth

block auth
    div.auth
        h2 Login
        include ../includes/social
        div.row.auth-separator or
        div.row.auth-local
            form.signin(action="/users/session", method="post")
                p.error= message
                .form-group
                    input#email(type="text", class="form-control", name="email", placeholder="Email")
                    .form-group
                    input#password(type="password", class="form-control", name="password", placeholder="Password")
                .row
                    .col-md-6
                        a.btn.btn-default.btn-block(herf="/register") Register
                    .col-md-6
                        button.btn.btn-primary.btn-block(type="submit") Log in