/// ============ Fonts ==============

@font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@base-font-size: 16px;

/// ============ Sizes ==============

@navigation-width: 15em;

/// ============ Colors =============

/// Grey
@background-color: #fcfcfc;
@font-grey: #7c7c7c;
@default-font-grey: #333333;
@accent-grey: #ebebeb;

/// Blue
@blue: #2d97d2;

/// Red
@red: #EF716F;