.container {
	padding: 1em;
}

.content {
	height: 100%;
	width: 960px;
	margin: 0 auto;
	padding: 1em 2em;
}

.auth {
	width: 360px;
	margin: 20% auto;
	text-align: center;
}

.auth-submit {
	padding: 1em 0;
}
