@import '../common/variables';

// =============== Workspace Constants ==================

@sidebar-width: 27em;

// =============== Workspace Constants ==================
.workspace-title {
	width: 100%;
	height: 3em;
	line-height: 3em;
	padding: 0 @horizontal-container;
	background-color: @font-grey;
	color: #ffffff;
	font-weight: bold;
}

.workspace {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 45em;

	& > .workspace-sidebar {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: @sidebar-width;
		border-right: 1px solid @accent-grey;
		background-color: @background-grey;

		 & > ul.workspace-options {
			padding: 0;
			margin: 0;
			color: @font-grey;

			& > li {
				display: block;
				padding: 0.35em 0.8em;
				border-bottom: 1px solid @accent-grey;

				& > .workspace-option {
					height: 2.4em;
					line-height: 2.4em;

					& > .workspace-option-name {
						text-align: center;
						float: left;
						padding-right: 0.8em;
						padding-left: 0.8em;
					}

					& > .workspace-option-value {
						float: right;
						padding-right: 0.8em;
						padding-left: 0.8em;
						font-size: 0.9em;
						font-family: monospace;
					}

					& > .workspace-option-colorpicker { 
						display: block;
						height: auto;
					}	
				}

				&.workspace-item-inline {
					padding-right: @horizontal-container;
					padding-left: @horizontal-container;
					
					& > .workspace-option-control {
						float: right;
						.flexbox();
						.align-items(center);
					}
				}
			}

			& > li:last-child {
				border-bottom-width: 0;
			}
		}
	}

	& > .workspace-demo {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: calc(~'100% - @{sidebar-width}');
		text-align: center;

		& > .workspace-demo-shape {
			background-color: lighten(@blue, 20%);
			width: 20em;
			height: 20em;
			margin: 0 auto 8em;
		}

		& > ul.workspace-css {
			font-family: monospace;
			font-size: 0.9em;
			background-color: @background-grey;
			padding: 2em 0.5em;
			margin: 4em auto;
			max-width: 40em;
			border: 1px solid darken(@background-grey, 10%);
			border-radius: 5px;
			list-style: none;

			& > li {
				text-align: center;
			}
		}
	}
}

/// ============ Colpick Overrides ==============

.colpick {
	background-color: transparent;
	border: none;
}

.colpick_field_letter {
	width: 18px;
}







