@import '../common/variables';
@import '../common/mixins';

.navigation {
	//.box-shadow(2px 0px 2px 0px rgba(50, 50, 50, 0.10));
	border-right: 1px solid @accent-grey;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: @navigation-width;
	background-color: @background-color;
	transition: left 300ms;
	-webkit-transition: left 300ms;
}

.navigation.navigation-hidden {
	left: -@navigation-width;
}

.navigation-container {
	position: relative;
	height: 100%;
	width: 100%;	
}

.navigation-header {
	.flex-absolute-center();
	height: 13em;
	border-bottom: 1px solid @accent-grey;
}

ul.navigation-menu::before {
	content: attr(data-category);
	position: relative;
	padding: 0.5em 0.6em;
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: bold;
	color: @font-grey;
}

ul.navigation-menu {
	margin: 10px 0 0;
	padding: 0;
	list-style: none;
	color: @font-grey;
}

ul.navigation-menu > li {
	width: 100%;
	height: 3em;
	line-height: 3em;
	cursor: pointer;
}

ul.navigation-menu > li > a {
	display: block;
	height: 100%;
	width: 100%;
	padding: 0 1em;
	text-decoration: none;
	color: @font-grey;
}

ul.navigation-menu > li:hover,
ul.navigation-menu > li:active {
	background-color: #f7f7f7;
}

.navigation-dismiss {
	position: absolute;
	bottom: 5vh;
	left: 100%;
	width: 1.5em;
	height: 1.5em;
	z-index: 2;
	background-color: @background-color;
	cursor: pointer;
	border-top-right-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	border: 1px solid @accent-grey;
	border-left: none;
	//.box-shadow(2px 0px 2px 0px rgba(50, 50, 50, 0.10));
}

.navigation-dismiss::after {
	content: " ";
	width: 0; 
	height: 0;
}