@import '../common/variables';
@import '../common/mixins';

/// ====== Navigation Constants ======

@menu-item-width: 8em;
@submenu-item-width: @menu-item-width * 1.75;
@navbar-accent-color: darken(@navbar-color, 10%);
@navbar-active-color: darken(@navbar-color, 5%);

/// ====== Navigation Defaults ======

.navigation {
	border-right: 1px solid @accent-grey;
	position: relative;
	z-index: 9999;
	width: 100%;
	height: @navigation-height;
	background-color: @navbar-color;
	border-bottom: 2px solid @navbar-accent-color;
	transition: left 300ms;
	-webkit-transition: left 300ms;
}

.navigation-container {
	position: relative;
	height: 100%;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		color: @white;
	}	
}

.navigation-logo {
	float: left;
	padding-left: @horizontal-container;
	height: @navigation-height;

	& > .navigation-logo-text {
		color: @white;
		font-family: 'LearningCurve';
		font-size: @navigation-height * 0.85;
		text-shadow: 1px 1px 0px @navbar-accent-color;
	}
}

ul.navigation-menu {
	float: right;
	display: block;
	height: 100%;	

	li {
		display: inline-block;
		height: @navigation-height;
		line-height: @navigation-height;
		text-align: center;
		cursor: pointer;
	}

	li:hover,
	li:active {
		background-color: @navbar-active-color;
		}

	& > li {
		position: relative;
		width: @menu-item-width;
		float: left;

		a, & > label {
			.flex-absolute-center();
			height: 100%;
			width: 100%;
			text-decoration: none;
			color: @white;
			text-shadow: 1px 1px 0px @navbar-accent-color;
			cursor: pointer;
		}

		& > input[type="checkbox"] {
			display: none;
		}

		& > input[type="checkbox"]:checked ~ ul.navigation-submenu,
		&:hover > ul.navigation-submenu {
			display: block;
		}
		
		& > ul.navigation-submenu {
			position: absolute;
			right: 0;
			display: none;
			width: @submenu-item-width;
			background-color: @navbar-color;
			border: 1px solid @navbar-accent-color;
			border-top: none;

			& > li {
				position: relative;
				width: 100%;
				border-bottom: 1px solid @navbar-accent-color;
			}

			& > li:last-child {
				border-bottom-width: 0;
			}
		}
	}
}
